.wait {
  padding-top: 20vh;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.group {
  padding-top: 20vh;
  text-align: center;
  color: grey;
}

.start {
  font-size: 30px;
}

.title {
  font-size: 50px;
}
